<ion-header>
  <ion-navbar>
    <ion-title>
      Apoyapp
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img  src="../../assets/imgs/logo_apoyapp.png" />
    <ion-card-content>
      <div *ngIf="! (authService.user | async)">
        <ion-card-title>
          Bienvenid@:
        </ion-card-title>
        <ion-list color="orange">  
          <ion-item>
            <ion-icon name="person"></ion-icon>
            <ion-label floating>Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
          </ion-item>    
          <ion-item>
            <ion-icon name="medical"></ion-icon>
            <ion-label floating>Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        
        </ion-list>
        <button ion-button color="orange" round (click)="login()" >Ingresar</button>
      </div>
      <div *ngIf="authService.user | async">
          <ion-card-title>
              Bienvenid@: {{ (authService.user | async)?.email }}!
          </ion-card-title>
          <button ion-button color="orange" round (click)="goToOtherPage()" >Continuar</button>
          <button ion-button color="danger" round (click)="logout()" >Salir</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  Desarrollado por ASETIC S.A.S
</ion-footer>
